.banner{
    background-image: url('../images/slider-glob.png');
    background-color: #191d3a;
}

.row.pt-5.pb-5 {
    width: 90%;
    margin-left: 5%;
}

.search-btn{
    background-color: #00a3c8;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 9px 30px;
    right: 20px;
}

.heroText {
    margin-top: 52px ;
}

.Express, .para{
    color: #fff;
}

.Care{
    color: #f7b614;
    font-weight: 800;
}
.heroText{
  font-family: 'Andada Pro', serif;
}
